<!-- Post -->
{{# cosmic.objects.type.posts }}
  <article class="post">
    <header>
      <div class="title">
        <h2><a href="/{{ slug }}">{{ title }}</a></h2>
        <p>{{ metafield.tag.value }}</p>
      </div>
      <div class="meta">
        <time class="published" datetime="2015-11-01">{{ published_friendly }}</time>
        <div class="author"><span class="name" style="border-bottom: 0">{{ metafield.author.object.title }}</span>
          <img src="https://cosmicjs.com/uploads/{{ metafield.author.object.metafields.0.value }}" alt="" />
        </div>
      </div>
    </header>
    {{# metafield.hero.value }}
    <a href="/{{ slug }}" class="image featured">
      <img src="https://cosmicjs.com/uploads/{{ metafield.hero.value }}" alt="" />
    </a>
    {{/ metafield.hero.value }}
    {{{ metafield.teaser.value }}}
    <footer>
      <ul class="actions">
        <li><a href="/{{ slug }}" class="button big">Continue Reading</a></li>
      </ul>
    </footer>
  </article>
{{/ cosmic.objects.type.posts }}