<!-- Post -->
{{# cosmic.objects.type.work }}
  <article class="post">
    <header>
      <div class="title">
        <h2><a href="/{{ slug }}">{{ title }}</a></h2>
        <p>{{ metafield.tag.value }}</p>
        {{{ metafield.excerpt.value }}}
      </div>
      <div class="meta">
        <a style="border-bottom: none" href="/{{ slug }}">
          <img title="{{ title }}" alt="{{ title }}" style="width: 100%" src="{{ metafield.thumb.imgix_url }}" alt="" />
        </a>
      </div>
    </header>
    <footer>
      <ul class="actions">
        <li><a href="/{{ slug }}" class="button big">Continue Reading</a></li>
      </ul>
    </footer>
  </article>
{{/ cosmic.objects.type.work }}