{{> header }}
  {{> nav }}
  <!-- Main -->
  <div id="main">
    <!-- Intro -->
    <section id="intro">
      <header style="text-align: center">
        <h2>
          {{ page.title }}
        </h2>
      </header>
    </section>
    <!-- Content -->
    <section id="content" style="max-width:1000px; margin: 0 auto 60px auto">
      {{# page.is_post }}
        <div class="meta shorti text-left mb-40">
          <time class="published" datetime="2015-11-01">{{ page.published_friendly }}</time>
          <div class="shorti w-100p text-left">
            <span class="name shorti mb-10" style="border-bottom: 0">{{ page.metafield.author.object.title }}</span>
            <img style="display: none;" class="shorti w-40 br-100" src="https://cosmicjs.com/uploads/{{ page.metafield.author.object.metafields.0.value }}" alt="" />
          </div>
        </div>
      {{/ page.is_post }}
      {{# page.metafield.hero.value }}
        <img style="max-width:100%; margin-bottom: 20px" src="{{ page.metafield.hero.imgix_url }}?w=900" alt="" />
      {{/ page.metafield.hero.value }}
      {{{ page.content }}}
      {{# page.is_post }}
        <div id="disqus_thread" class="shorti mt-40"></div>
        <script>
          /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
           *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
           */
          
          var disqus_url = 'http://tonyspiro.com/{{ page.slug }}';
          {{# page.metafield.wp-id.value }}
            var disqus_identifier = '{{ page.metafield.wp-id.value }} http://tonyspiro.com/?p={{ page.metafield.wp-id.value }}';
          {{/ page.metafield.wp-id.value }}
          {{^ page.metafield.wp-id.value }}
            var disqus_identifier = '{{ page._id }}';
          {{/ page.metafield.wp-id.value }}
          var disqus_config = function () {
              this.page.url = disqus_url;  // Replace PAGE_URL with your page's canonical URL variable
              this.page.identifier = disqus_identifier; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
              var d = document, s = d.createElement('script');
              
              s.src = '//tonyspiro.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
              
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      {{/ page.is_post }}
    </section>
    <!-- Pagination -->
  </div>
  {{> sidebar }}
{{> footer }}
